In [1]:
import pandas as pd
import numpy as np
import datetime as dt

## Error in dataaframes

In [3]:
xls = pd.ExcelFile('KPMG_VI_New_raw_data_update_final.xlsx')
cd = pd.read_excel(xls, 'CustomerDemographic')

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\2954334503.py:2: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  cd = pd.read_excel(xls, 'CustomerDemographic')

In [5]:
cd.head()

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0

In [6]:
cd.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'default', 'owns_car', 'tenure'],
      dtype='object')

In [17]:
cd = cd[['customer_id','gender','DOB',
    'job_industry_category', 'wealth_segment',
    'deceased_indicator','owns_car']]

In [18]:
cd.isnull().sum()/len(cd)*100

customer_id               0.000
gender                    0.000
DOB                       2.175
job_industry_category    16.400
wealth_segment            0.000
deceased_indicator        0.000
owns_car                  0.000
dtype: float64

In [19]:
cd['job_industry_category'].value_counts()

Manufacturing         799
Financial Services    774
Health                602
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: job_industry_category, dtype: int64

In [27]:
# Job indcustry column is very important so i will replace it with the most frewquet value
cd['job_industry_category'].fillna('Manufacturing', inplace=True)

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\454256371.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd['job_industry_category'].fillna('Manufacturing', inplace=True)

In [29]:
cd['job_industry_category'].isnull().sum()

0

In [30]:
cd.isnull().sum()

customer_id               0
gender                    0
DOB                      87
job_industry_category     0
wealth_segment            0
deceased_indicator        0
owns_car                  0
dtype: int64

In [33]:
cd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   customer_id            4000 non-null   int64
 1   gender                 4000 non-null   object
 2   DOB                    3913 non-null   datetime64[ns]
 3   job_industry_category  4000 non-null   object
 4   wealth_segment         4000 non-null   object
 5   deceased_indicator     4000 non-null   object
 6   owns_car               4000 non-null   object
dtypes: datetime64[ns](1), int64(1), object(5)
memory usage: 218.9+ KB

In [36]:
cd['cus_born_year'] = cd['DOB'].dt.year

In [41]:
cd['current_year'] = dt.datetime.now()

In [42]:
dt.datetime.now()

datetime.datetime(2023, 9, 10, 18, 17, 0, 392638)

In [45]:
cd['customer_age'] = cd['current_year'].dt.year - cd['cus_born_year']

In [49]:
cd['gender'].value_counts()

Female    2037
Male      1872
U           88
F            1
Femal        1
M            1
Name: gender, dtype: int64

In [54]:
# i have replaced with U with Female that is most frequent value
cd['gender'].replace('F', 'Female', inplace=True)
cd['gender'].replace('M', 'Male', inplace=True)
cd['gender'].replace('Femal', 'Female', inplace=True)
cd['gender'].replace('U', 'Female', inplace=True)

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3670353240.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd['gender'].replace('F', 'Female', inplace=True)
C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3670353240.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd['gender'].replace('M', 'Male', inplace=True)
C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3670353240.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd['gender'].replace('Femal', 'Female', inplace=True)
C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3670353240.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd['gender'].replace('U', 'Female', inplace=True)

In [55]:
cd.gender.value_counts()

Female    2127
Male      1873
Name: gender, dtype: int64

In [59]:
cd.columns

Index(['customer_id', 'gender', 'DOB', 'job_industry_category',
       'wealth_segment', 'deceased_indicator', 'owns_car', 'cus_born_year',
       'current_year', 'customer_age'],
      dtype='object')

In [61]:
cd = cd[['customer_id', 'gender', 'job_industry_category',
       'wealth_segment', 'deceased_indicator', 'owns_car', 'customer_age']]

In [63]:
cd.isnull().sum()/len(cd)

customer_id              0.00000
gender                   0.00000
job_industry_category    0.00000
wealth_segment           0.00000
deceased_indicator       0.00000
owns_car                 0.00000
customer_age             0.02175
dtype: float64

In [64]:
cd.dropna(inplace=True)

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3858351903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cd.dropna(inplace=True)

In [66]:
cd.isnull().sum()

customer_id              0
gender                   0
job_industry_category    0
wealth_segment           0
deceased_indicator       0
owns_car                 0
customer_age             0
dtype: int64

In [84]:
cd.to_excel('train_customer_demographic.xlsx', index=None)

In [70]:
ca = pd.read_excel(xls, 'CustomerAddress', header=1)

In [73]:
ca['state'].value_counts()

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64

In [74]:
ca['state'].replace('New South Wales', 'NSW', inplace=True)
ca['state'].replace('Victoria', 'VIC', inplace=True)

In [81]:
ca['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [76]:
ca.columns

Index(['customer_id', 'address', 'postcode', 'state', 'country',
       'property_valuation'],
      dtype='object')

In [79]:
ca.isnull().sum()

customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [82]:
ca.to_excel('train_customer_address.xlsx', index=None)

In [89]:
trans = pd.read_excel(xls, 'Transactions', header=1)

In [91]:
trans.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [92]:
trans = trans[['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost']]

In [96]:
trans.isnull().sum()/len(trans)*100

transaction_id      0.000
product_id          0.000
customer_id         0.000
transaction_date    0.000
online_order        1.800
order_status        0.000
brand               0.985
product_line        0.985
product_class       0.985
product_size        0.985
list_price          0.000
standard_cost       0.985
dtype: float64

In [97]:
trans.dropna(inplace=True)

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\2769197820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans.dropna(inplace=True)

In [100]:
trans.isnull().sum()

transaction_id      0
product_id          0
customer_id         0
transaction_date    0
online_order        0
order_status        0
brand               0
product_line        0
product_class       0
product_size        0
list_price          0
standard_cost       0
dtype: int64

In [104]:
trans['transaction_month'] = trans['transaction_date'].dt.month_name()

C:\Users\kamal\AppData\Local\Temp\ipykernel_14412\3467168989.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trans['transaction_month'] = trans['transaction_date'].dt.month_name()

In [105]:
trans.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'transaction_month'],
      dtype='object')

In [106]:
trans[['transaction_id', 'product_id', 'customer_id',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'transaction_month']]

,transaction_id,product_id,customer_id,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,transaction_month
0,1,2,2950,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,February
1,2,3,3120,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,May
2,3,37,402,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,October
3,4,88,3135,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,August
4,5,78,787,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,October
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19996,51,1018,1.0,Approved,OHM Cycles,Standard,high,medium,2005.66,1203.40,June
19996,19997,41,127,1.0,Approved,Solex,Road,medium,medium,416.98,312.74,November
19997,19998,87,2284,1.0,Approved,OHM Cycles,Standard,medium,medium,1636.90,44.71,April
19998,19999,6,2764,0.0,Approved,OHM Cycles,Standard,high,medium,227.88,136.73,July
19999,20000,11,1144,1.0,Approved,Trek Bicycles,Standard,medium,small,1775.81,1580.47,September

In [108]:
trans.to_excel('train_transaction.xlsx', index=None)